<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height: 600px; margin: 0">
<div id="container" style="height: 600px"></div>
<!--CDN加速-->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>

<script th:inline="javascript">

        var dom = document.getElementById('container');
        var myChart = echarts.init(dom, null, {
            renderer: 'canvas',
            useDirtyRect: false
        });
        //获取Model对象传递到HTML的热门品类Top10数据
        var top10 = [[${list}]];
        var category = []
        var series = [];

        $.each(top10,function (index,value) {
            var data_session = {
                name: value.categoryId,
                type: 'bar',
                stack: 'total',
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                data: value.session_count
            }
            category.push("品类"+value.categoryId)
            series.push(data_session);
        })


        //指定Echarts柱状图模板的配置
        myChart.setOption({
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    // Use axis to trigger tooltip
                    type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
                }
            },
            legend: {},
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: category
            },
            series: series
        });

        /*if (option && typeof option === 'object') {
            myChart.setOption(option);
        }*/

        window.addEventListener('resize', myChart.resize);
</script>
</body>
</html>